<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

    <title>Find Variants By Pos</title>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/">ICR Variants</a></li>
                <li><a href="/upload_variants">Upload Variants To Catalogue</a></li>
                <li><a href="/variants_by_csn">Find Variants By CSN</a></li>
                <li><a href="/variants_by_pos">Find Variants By Coordinate</a></li>
            </ul>
        </div>
		<div id="page-content-wrapper">
			<div class="container-fluid" style="position: relative; top: 40px">
				<div class="row">
					<div class="col-lg-12">
						<h1>Genomic Coordinate Search</h1>
						<p>
						Search the catalogue for variants in a given range of genomic coordinates
						</p>
					</div>
				</div>
                <form action="/variants_by_pos" method="post" id="usrform">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Chromosome</label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="chrom" placeholder="chr1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Start Position</label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="start_pos" placeholder="10001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">End Position</label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="end_pos" placeholder="20001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
